@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    border-bottom: 1px solid #c5c5c5;
    box-shadow: 0px 0px 5px gray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    align-items: center;
}


.navbar nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar nav a:hover {
    color: red;
}

.navbar nav {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}

.navbar .home {
    font-size: 30px;
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    flex-grow: 1;
}

footer {
    position: relative;
    margin-top: 50px;
    background-color: #ffffffad;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #c5c5c5;
    box-shadow: 3px 3px 5px 3px gray;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
    top: 50px;
}

.footer-center {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.footer-center a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    position: relative;
    top: 40px;
}

.footer-center a:hover {
    color: red;
}

.footer-icons {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 20px;
    gap: 15px;
}

.footer-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s;
}

.footer-icon:hover {
    transform: scale(1.1);
}

.direitos {
    position: relative;
    top: 20px;
    color: #000000;
    padding: 10px;
    text-align: center;
}

/* ===== Scroll bar ===== */
html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #96938c;
    border-radius: 5rem;
}



@media (min-width: 1440px) and (max-width: 1920px) {
    .navbar {
        padding: 30px 80px;
    }

    .navbar nav {
        font-size: 22px;
    }

    .navbar .home {
        font-size: 35px;
    }

    .footer-content {
        top: 60px;
    }

    .footer-center a {
        font-size: 28px;
    }
}

@media (min-width: 1440px) and (max-width: 1920px) {}

@media (min-width: 768px) and (max-width: 1439px) {
    header {
        width: 106%;
    }

    footer {
        width: 106%;
    }
}

@media (min-width: 375px) and (max-width: 768px) {
    header {
        width: 100%;
    }

    .navbar {
        flex-direction: column;

    }

    nav {
        position: relative;
        top: 10px;
    }


    .footer-content {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
        top: 30px;
    }

    .footer-center a {
        font-size: 12px;
        top: 20px;
    }

    .footer-icons {
        gap: 10px;
    }

    .footer-icon {
        width: 35px;
        height: 35px;
    }

    .direitos {
        top: 10px;
        font-size: 14px;
    }
}