/*Banner 1 */
.portfolio-img-1 img {
    width: 650px;
    height: 650px;
    position: relative;
    left: 60%;
    top: 30px;
}

.portfolio {
    width: 100%;
    height: 700px;
}

.texto {
    position: relative;
    bottom: 500px;
    margin-left: 50px;
    font-size: 27px;
    max-width: 50%;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.texto p {
    font-size: 23px;
}

.button-sobre {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(254, 190, 0);
    box-shadow: 22px;
}


/*Banner 2 */
#portfolio-img-2 {
    background-image: url(../Img/portfolio2.png);
    z-index: 999;
    background-repeat: no-repeat;
    background-position: 5% bottom;
}

.portfolio2 {
    width: 100%;
    height: 400px;
    padding-top: 100px;
}

/*Estilos dentro do banner 2*/
.container-projeto {
    position: relative;
    bottom: 35px;
    margin-left: 45%;
    color: white;
    font-size: 27px;
}

.container-projeto h2 {
    color: black;
}

.fotos-projetos img {
    align-items: center;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 5px 5px #4b4c4da3;
}

.fotos-projetos img:hover {
    transform: scale(1.1);
}

.button-projetos {
    position: relative;
    top: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(254, 0, 0);
    box-shadow: 22px;
}

@media (min-width: 1440px) and (max-width: 1920px) {}

@media (min-width: 768px) and (max-width: 1439px) {
    .portfolio-img-1 img {
        position: relative;
        top: 13px;
    }

    .portfolio {
        height: 520px;
    }

    .texto {
        position: relative;
        bottom: 550px;
    }


    .container-projeto {
        position: relative;
        bottom: 20px;
    }

    .fotos-projetos {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .fotos-projetos img {
        position: relative;

        width: 260px;
        height: 210px;
        border-radius: none;
        box-shadow: none;
    }

    .button-projetos {
        position: relative;
        top: 26px;
    }
}


@media (min-width: 375px) and (max-width: 769px) {
    .portfolio-img-1 img {
        display: none;
    }

    .portfolio {
        height: 350px;
    }

    .texto {
        max-width: 80%;
        font-size: 14px;
        position: relative;
        top: 15px;
        right: 13px;
    }

    .texto p {
        font-size: 17px;
    }

    #portfolio-img-2 {
        background-image: none;
    }

    .portfolio2 {
        height: 250px;
    }

    .container-projeto {
        position: relative;
        bottom: 20px;
    }

    .container-projeto h2 {
        position: relative;
        right: 150px;
        font-size: 22px;
        width: 350px;
    }

    .fotos-projetos {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }

    .fotos-projetos img {
        position: relative;
        right: 155px;
        width: 110px;
        height: 110px;
        border-radius: none;
        box-shadow: none;
    }


    .button-projetos {
        position: relative;
        right: 20px;
        top: 20px;
        padding: 10px;
        font-size: 14px;

    }
}