<div class="footer-content">
    <div class="footer-center">
            <a href="index.html">Home</a>
            <a href="sobre.html">Sobre</a>
            <a href="experiencias.html">Experiências</a>
            <a href="contato.html">Contato</a>
    </div>
</div>
<div class="footer-icons">
    <a target="_blank" href="https://www.instagram.com/"><img src="Img/images.jpeg" class="footer-icon"></a>
    <a target="_blank" href="https://github.com/Tomas4030"><img src="Img/25231.png" class="footer-icon"></a>
    <a target="_blank" href="https://www.instagram.com/"><img src="Img/Facebook_Logo_2023 (1).png" class="footer-icon"></a>
    <a target="_blank" href="mailto:tomas_miguel@eticalgarve.com"><img src="Img/email.png" class="footer-icon"></a>
</div>
<div class="direitos">
    <h3>COPYRIGHT © 2025 | Tomas Miguel</h3>
</div>